@import "../styles/variables";

.footer {
  margin-top: -22%;
  background: linear-gradient(180deg, $darkgrey-rgba, $darker-green-rgba);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 10%;
  padding-bottom: 10%;
  @media (min-width: 320px) and (max-width: 425px) {
    padding-top: -50px;
    // padding-bottom: -100px;
  }

  @media (min-width: 640px) and (max-width: 767px) {
    height: auto;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    padding-top: 10%;
  }

  @media (min-width: 991px) {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .contact {
    text-align: center;
    color: $white;
    .location,
    .city,
    .area,
    .country,
    .number {
      margin: 0;
      padding: 5px 0;
      font-size: $size16; // Default size

      @media (min-width: 320px) and (max-width: 425px) {
        font-size: 8px;
      }

      @media (min-width: 425px) and (max-width: 640px) {
        font-size: 10px;
      }

      @media (min-width: 640px) and (max-width: 766px) {
        font-size: 12px;
      }

      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 12px;
      }

      // @media (min-width: 991px) {
      //   font-size: 16px;
      // }
    }

    .number {
      padding: 10px 0; // Specific padding for number
    }
  }

  .social {
    position: absolute;
    right: 15%;
    display: flex;
    gap: 10px;

    @media (max-width: $mobileSMax) {
      right: 1%;
    }

    @media (min-width: $mobileMMin) and (max-width: $breakpoint-mobile) {
      right: 12%;
    }

    @media (min-width: $mobileLMin) and (max-width: $tabletMax) {
      right: 14%;
    }

    @media (min-width: $laptop) {
      right: 15%;
    }

    a {
      display: block;
      width: 50px;
      height: 50px;

      @media (max-width: $mobileSMax) {
        width: 30px;
        height: 30px;
      }

      @media (min-width: $mobileMMin) and (max-width: $breakpoint-mobile) {
        width: 35px;
        height: 35px;
      }

      @media (min-width: $mobileLMin) and (max-width: $tabletMax) {
        width: 45px;
        height: 45px;
      }

      @media (min-width: $laptop) {
        width: 50px;
        height: 50px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .fb {
      // display: inline-block;
      cursor: pointer;
      margin-top: 0px;

      img {
        height: auto;
        display: block;
      }
    }
  }
}

.logo {
  position: absolute;
  width: 250px;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 10%;

  @media (max-width: $mobileSMax) {
    width: 100px;
    height: 100px;
    left: 1%;
  }

  @media (min-width: $mobileMMin) and (max-width: $breakpoint-mobile) {
    width: 150px;
    height: 150px;
  }

  @media (min-width: $mobileLMin) and (max-width: $tabletMax) {
    width: 200px;
    height: 200px;
  }

  @media (min-width: $laptop) {
    width: 250px;
    height: 250px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
