@import '../styles/variables';


.footer{
    margin-top: -60px;
    background: linear-gradient(180deg, $darkgrey-rgba, $darker-green-rgba);
    height: 300px;


    // @media (min-width: $mobileSMax) {
    //     margin-top: 300px;
    // }
    @media (max-width: $mobileSMax) {
        margin-top: 300px;
    }

   
}