@import "../styles/variables";

#projects {
  padding-top: 50px;

  height: auto;
  padding-top: 0px;

  @media (min-width: 320px) and (max-width: 425px) {
    padding-top: 0px;
  }

  @media (min-width: 425px) and (max-width: 640px) {
    padding-top: 0px;
  }

  @media (min-width: 640px) and (max-width: 766px) {
    padding-top: 0px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    padding-top: 0px;
  }

  @media (min-width: 991px) {
    padding-top: 0px;
  }

  // The commented-out code can be left as it is.
  // @media (min-width: $mobileLMax) {
  //   padding-top: 100px;
  //   font-size: $size24;
  // }
}

h1 {
  font-family: $heading-font-family;
  padding-top: 100px;
  text-align: center;

  @media (min-width: 320px) and (max-width: 425px) {
    padding-top: 500px;
    font-size: $size18;
  }

  @media (min-width: 425px) and (max-width: 640px) {
    padding-top: 1100px;
    font-size: $size20;
  }

  @media (min-width: 640px) and (max-width: 767px) {
    padding-top: 50px;
    font-size: $size20;
  }

  @media (min-width: 767px) and (max-width: 1199px) {
    padding-top: 100px;
    font-size: $size24;
  }
}

.project {
  margin: 4rem 0;

  height: auto;
  margin-top: 0px;
  background-color: $lightgrey; // Grey background color
  padding-bottom: 20%;

  .grid-container {
    text-align: center;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;

    @media (min-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .img-container {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .img-shadow2 {
      max-width: 150px; // Adjust this value to make the images smaller
      background-color: $white; // Background color instead of box-shadow
      border-radius: 0px; // Optional: add border-radius for rounded corners
      overflow: hidden; // Optional: hide any overflow content
    }

    .project-info {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h2 {
        font-size: 1.5rem;
        font-weight: bold;
        color: $black;

        @media (min-width: $mobileSMax) {
          font-size: $size14;
        }

        @media (max-width: $mobileSMax) {
          font-size: $size14;
        }

        @media (min-width: $mobileMMin) and (max-width: $breakpoint-mobile) {
          font-size: $size16;
        }

        @media (min-width: $mobileLMin) and (max-width: $mobileLMax) {
          font-size: $size18;
        }

        @media (min-width: $tabletMin) and (max-width: $tabletMax) {
          font-size: $size18;
        }

        @media (min-width: $laptop) {
          font-size: $size20;
        }
      }
    }
  }
}
