@import "../styles/variables";

.summary {
  font-size: $size24;
  font-weight: bold;
  text-align: center;
  margin: 30px 0;
  background-color: $lightgrey; /* Light Gray Background */
  padding: 20px;
  justify-content: center;
  align-items: center;
  
  .important {
    color: #FF5733; /* Vibrant Red */
  }

  .highlight {
    color: #33FF57; /* Bright Green */
  }

  .vibrant {
    color: #3357FF; /* Bold Blue */
  }

  .exciting {
    color: #FF33A1; /* Hot Pink */
  }

  .bold {
    color: #FFC300; /* Bright Yellow */
  }

  .colorful {
    color: #FF33F6; /* Vivid Magenta */
  }

  .creative {
    color: #00BFFF; /* Deep Sky Blue */
  }

  .stunning {
    color: #FF4500; /* Orange Red */
  }

  .interactive {
    color: #9400D3; /* Dark Violet */
  }

  .dynamic {
    color: #FFD700; /* Gold */
  }




  

}

@media (min-width: 320px) and (max-width: 425px) {
  h2.summary {

      font-size: 14px;
 
  }
}

@media (min-width: 425px) and (max-width: 640px) {
  h2.summary {

    font-size: 16px;

}

  }


  @media (min-width: 640px) and (max-width: 766px) {
    h2.summary {

      font-size: 18px;
 
  }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    h2.summary {

      font-size: 18px;
 
  }
  }

  @media (min-width: 991px) {
    h2.summary {

      font-size: 20px;
 
  }
  }
