@import "../styles/variables";

.summary {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 30px 0;
  background-color: $lightgrey; /* Light Gray Background */
  padding: 20px;
  
  .important {
    color: #FF5733; /* Vibrant Red */
  }

  .highlight {
    color: #33FF57; /* Bright Green */
  }

  .vibrant {
    color: #3357FF; /* Bold Blue */
  }

  .exciting {
    color: #FF33A1; /* Hot Pink */
  }

  .bold {
    color: #FFC300; /* Bright Yellow */
  }

  .colorful {
    color: #FF33F6; /* Vivid Magenta */
  }

  .creative {
    color: #00BFFF; /* Deep Sky Blue */
  }

  .stunning {
    color: #FF4500; /* Orange Red */
  }

  .interactive {
    color: #9400D3; /* Dark Violet */
  }

  .dynamic {
    color: #FFD700; /* Gold */
  }
  @media (min-width: $mobileSMax) {

    h2 {
      font-size: $size12;
    }
  }

  @media (max-width: $mobileSMax) {


    h2 {
      font-size: $size12;
    }
  }

  @media (min-width: $breakpoint-mobile) {


    h2 {
      font-size: $size14;
    }
  }

  @media (min-width: $mobileMMin) and (max-width: $breakpoint-mobile) {


    h2 {
      font-size: $size14;
    }
  }

  @media (min-width: $mobileLMax) {

    h2 {
      font-size: $size16;
    }
  }

  @media (min-width: $mobileLMin) and (max-width: $mobileLMax) {


    h2 {
      font-size: $size16;
    }
  }

  @media (min-width: $tabletMin) and (max-width: $tabletMax) {

    h2 {
      font-size: $size20;
    }
  }

  @media (min-width: $laptop) {


    h2 {
      font-size: $size24;
    }
  }
}

